/****** Colors ***********/

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --grey-light: #F2F2F2;
    --grey: #D9D9D9;
    --blue-light: #DEEBFF;
}

/****** General ***********/

* {
    font-family: 'Raleway', sans-serif;
}

html {
    font-size: 10px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, 
*:before, 
*:after {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 1.6rem;
}

ol, 
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin-top: 0;
    margin-bottom: 3.5rem;
}

/****** Headings ***********/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1,
.h1 {
    margin-bottom: 1rem;
    font-size: 2.2rem;
}

h2 {
    font-size: 2.2rem;
}

h3,
.h3 {
    margin-bottom: 2rem;
    font-size: 1.8rem;
}

/****** Links ***********/

a {
    color: inherit;
    text-decoration: none;
}

/****** Main ***********/

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 5rem;
    box-sizing: border-box;
}

/****** Sections ***********/

.section-title {
    margin: 0;
    font-size: 2.2rem;
}

/****** Navbar ***********/

.navbar,
.navbar-nav {
    display: flex;
}

.navbar {
    justify-content: space-between;
    align-items: flex-start;
}

.navbar-logo {
    padding: 3rem 5rem 3rem 0;
    transition: color 0.3s ease, filter 0.3s ease;
}

.navbar-logo:hover {
    filter: brightness(120%);
}

.navbar-logo img {
    width: 6rem;
}

.navbar-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item {
    padding-left: 7rem;
}

.nav-link {
    display: block;
    padding-top: 1rem;
}

.nav-link {
    border-top: .2rem solid transparent;
    transition: color .5s ease-in-out, border-color .5s ease-in-out;
}

.nav-link.active,
.nav-link:hover {
    color: var(--main-color);
    border-color: var(--main-color);
}

/****** Search Form ***********/

.search {
    margin-bottom: 3.5rem;
}

.search-form {
    display: flex;
    margin-bottom: 3.5rem;
}

.search-icon {
    padding: .5rem;
    background: var(--grey-light);
    border-radius: 1.5rem 0 0 1.5rem;
}

.search-input,
.search-button {
    border: 0;
}

.search-icon i,
.search-input,
.search-button {
    padding: 1.1rem;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}

.search-input {
    border-top: .15rem solid var(--grey-light);
    border-bottom: .15rem solid var(--grey-light);
    border-left: .15rem solid #fff;
    border-right: .15rem solid #fff;
}

.search-input::placeholder {
    color: #000;
}

.search-input:focus-visible {
    outline: none;
    border-color: var(--grey);
}

.search-button {
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
    letter-spacing: 0.05rem;
    border-radius: 0 1.5rem 1.5rem 0;
    transition: color 0.3s ease, filter 0.3s ease;
}

.search-button i {
    display: none;
}

.search-button:hover {
    filter: brightness(120%);
}

/****** Filters ***********/

.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filters-buttons {
    display: flex;
    flex-wrap: wrap;
}

.filters-button {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    margin-right: 1.5rem;
    padding: 1.5rem 2rem;
    background: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    border: .2rem solid var(--grey);
    border-radius: 4rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filters-button:hover {
    background: var(--blue-light);
}

.filters-button i {
    padding-right: 1rem;
    color: var(--main-color);
    font-size: 2rem;
}

.filters h2 {
    margin-bottom: 0;
    margin-right: 1.5rem;
}

.filters-info {
    width: 100%;
    margin-top: 3rem;
}

/****** Font Awesome ***********/

.fa-solid,
.fa-info {
    color: var(--main-color);
}

.fa-info {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.4rem;
    height: 2.4rem;
    margin-right: .4rem;
    color: var(--main-color);
    font-size: 1.2rem;
    border: .1rem solid var(--grey);
    border-radius: 2.4rem;
}

/****** Cards ***********/

.card {
    height: 100%;
    background-color: white;
    border-radius: 2.5rem;
    padding: .5rem;
    filter: drop-shadow(0 .3rem 1.5rem rgba(0, 0, 0, 0.1));
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    transform-origin: center center;
}

.card:hover img {
    transform: scale(1.1);
}


.card-title {
    font-size: 1.6rem;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.5rem;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 2rem;
    padding: 3rem;
    box-sizing: border-box;
}

/****** Hebergements and Populaires ***********/

.hebergements-title,
.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.hebergements-cards .card,
.populaires-cards .card {
    display: flex;
}

.hebergements-cards .card-image,
.populaires-cards .card-image {
    width: 33%;
    height: 11rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    overflow: hidden;
}

.hebergements-cards .card-content,
.populaires-cards .card-content {
    width: 67%;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title,
.populaires-cards .card-title {
    margin-top: 1rem;
    margin-bottom: .4rem;
}

.hebergements-cards .card-subtitle,
.populaires-cards .card-subtitle {
    margin: 0;
    font-size: 1.4rem;
}

.hebergements-cards .card-rating,
.populaires-cards .card-rating {
    margin-bottom: .5rem;
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
}

.hebergements-cards .card {
    flex-wrap: wrap;
    margin-top: 0;
}

.hebergements-cards .card-image {
    width: 100%;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.hebergements-cards .card-content {
    width: 100%;
}

.show-more-button {
    margin: 0;
    padding: 0;
    background: none;
    color: #000;
    font-size: 1.8rem;
    font-weight: 700;
    cursor: pointer;
    border: none;
    outline: none;
}

/****** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-cards {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 3rem;
    height: calc(100% - 3rem);
    padding-bottom: 3rem;
}

.populaires-cards .card-image {
    min-height: 100%;
}

.populaires-cards .card-image img {
    height: 100%;
}

/****** Activités ***********/

.activites {
    padding: 3rem;
}

.activites-title {
    margin-bottom: 3rem;
}

.activites-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3rem;
}

.activites-cards .card {
    padding: 0;
}

.activites .card-image {
    height: 30rem;
    overflow: hidden;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}

.activites .card-content {
    padding: 1.9rem;
}

.activites .card-title {
    margin-bottom: 0;
}

/****** Footer ***********/

footer {
    background: var(--grey-light);
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-column {
    padding: 2rem;
}

footer h3,
footer li:not(:last-of-type) {
    margin-bottom: 1.5rem;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    /****** Navbar ***********/

    .navbar {
        flex-direction: row;
    }

    /****** Main container ***********/

    .main-container {
        padding: 0 5rem;
        max-width: 925px;
    }

    /****** Filters ***********/

    .filters {
        flex-direction: column;
        align-items: flex-start;
    }

    .filters h2 {
        margin-bottom: 2rem;
    }

    /****** Hebergements and Populaires***********/

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 5rem;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 1.4rem;
    }

    .populaires-cards .card-subtitle {
        font-size: 1.3rem;
    }

    /****** Activités ***********/

    .activites .card-image {
        height: 20rem;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767px) {
    
    /****** Header ***********/

    #header {
        padding-bottom: 3rem;
    }

    /****** Navbar ***********/

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar-logo {
        padding-right: 0;
    }

    .navbar-nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .nav-item {
        padding: 0;
        text-align: center;
    }

    .nav-link {
        padding-top: 0;
        padding-bottom: 1.5rem;
        border-top: 0;
        border-bottom: 0.2rem solid var(--grey-light);
    }

    /****** Main ***********/

    .main-container {
        padding: 0;
    }

    /****** Search Form and filters ***********/

    .search,
    .filters {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    /****** Search Form ***********/

    .search-form {
        position: relative;
    }

    .search-button {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
        min-width: 5rem;
        height: 5rem;
        border-radius: 1.5rem;
        transition: none;
    }

    .search-button i {
        display: block;
    }

    .search-button span {
        display: none;
    }

    .search-input {
        width: calc(100% - 6rem);
        padding-right: 4rem;
    }

    /****** Filters ***********/

    .filters-button {
        width: calc(50% - 1rem);
        margin-right: 1rem;
        margin-bottom: 2rem;
        font-size: 1.4rem;
    }

    .filters-button:nth-child(even) {
        margin-right: 0;
    }

    /****** Hebergements And Populaires ***********/

    .hebergements-and-populaires {
        margin-bottom: 0;
    }

    .hebergements-and-populaires section {
        padding: 3rem 2rem;
        border-radius: 0;
    }

    .hebergements-title, 
    .populaires-title {
        margin-bottom: 1.5rem;
    }

    /****** Populaires ***********/

    .populaires {
        order: 1;
        width: 100%;
        margin-top: 0;
        margin-bottom: 1.5rem;
        background-color: var(--main-bg-color);
    }

    .populaires-cards {
        flex-direction: column;
        grid-gap: 1.5rem;
        padding-bottom: 0;
    }

    .populaires-cards a {
        width: 100%;
    }

    /****** Hebergements ***********/

    .hebergements-and-populaires .hebergements {
        order: 2;
        width: 100%;
        padding-top: 2rem;
        background: none;
    }

    .hebergements-cards {
        grid-template-columns: 1fr;
        grid-gap: 1.5rem;
        margin-bottom: 3rem;
        padding-bottom: 2rem;
    }

    /****** Activités ***********/

    .activites-cards {
        grid-template-columns: 1fr;
    }

    .activites .card-image {
        height: 14rem;
    }

    /****** Footer ***********/

    .footer-container {
        grid-template-columns: 1fr;
        grid-gap: 5rem;
        padding: 3rem;
    }

    .footer-column {
        padding: 0;
    }
}